*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body{
    height: 100vg;
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;  
    position: relative; 
}

.idosa{
    width: 230px;
    position: absolute;
    right: 67%;
    bottom: 18px;
}

.idosa2{
    width: 400px;
    position: absolute;
    bottom: 7px;

}

main{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

h1{
    text-align: center;
}

hr{
    font-weight: bold;
    height: 3px;
    background: black;
    margin-bottom: 10px;
}

.game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.game button{
    width: 100px;
    height: 100px;
    margin: 5px;
    cursor: pointer;
    font-size: 50px;
    background: white;
    border-radius: 15px;
}

h2 {
    text-align: center;
}